<div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
    <div style="height:50px" class="panel-heading">
        Consultations
        <button class="pull-right btn-sm btn btn-default" ng-disabled="$ctrl.disableButtonConsultationList" ng-click="$ctrl.showDialogModalAdd()"><span class="fa fa-plus"></span></button>
    </div>

    <div class="panel-body">
        <table st-table="$ctrl.consultationListDisplay" st-safe-src="$ctrl.myConsultations" class="table table-condensed table-responsive table-striped">
            <thead>

                <tr>

                    <th colspan="4"><input st-search="" class="input-sm form-control pull-right" placeholder="Search" type="search" /></th>
                </tr>


            </thead>

            <tbody>
                <tr ng-repeat="row in $ctrl.consultationListDisplay | orderBy:'-TransactionDate'">
                    <td>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="$ctrl.selectedRow" ng-value="row">
                                <a ng-click="$ctrl.setSelectedRow(row)" href="#">{{row.TransactionDate | date: 'MMM dd, yyyy'}}</a>
                            </label><br />
                        </div>
                    </td>

                    <td><button class="btn btn-xs btn-default" ng-click="$ctrl.showDialogModalEdit(row)"><span class="fa fa-edit"></span></button></td>
                    <td><button class="btn btn-xs btn-danger" ng-click="$ctrl.showDeleteModal(row)"><span class="fa fa-remove"></span></button></td>


                </tr>
            </tbody>
            <tfoot>
                <tr>

                    <td class="text-center" st-pagination="" st-items-by-page="4" colspan="4"></td>
                </tr>
            </tfoot>
        </table>

    </div>

</div>


<div class="modal fade" id="addConsultaionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span></span>New Consultation</h4>
            </div>
            <div class="modal-body">

                <form name="consultationForm">

                    <div class="modal-body">

                        <div class="form-group" ng-class="{ 'has-error' : consultationForm.FormDate.$invalid && !consultationForm.FormDate.$pristine }">
                            <label for="FormDate">Date</label>
                            <input name="FormDate" ng-required="true" type="date" ng-model="$ctrl.myConsultation.TransactionDate" ng-disabled="disableInput" class="form-control" id="FormDate" />

                            <span class="help-block" ng-show="consultationForm.FormDate.$invalid && !consultationForm.FormDate.$pristine">
                                Record Category Name is required.
                            </span>

                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" ng-disabled="!consultationForm.$valid" ng-click="$ctrl.updateConsultation()" data-dismiss="modal" class="btn btn-primary">Save Changes</button>
                    </div>

                </form>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="deleteConsultationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to remove <span><strong id=""></strong></span> </h5>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                <button type="button" class="btn-sm btn btn-primary" ng-click="$ctrl.deleteConsultation()" data-dismiss="modal">  Yes  </button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div hidden="hidden" id="printModal">

    <style>



        @media print {


            html, body {
                height: 100vh;
                margin: 0 !important;
                padding: 0 !important;
                overflow: hidden;
            }

            .p-age {
                margin-top: 0px;
                font-size: 1em;
            }

            .p-name {
                margin-bottom: 0px;
                font-size: 1.5em;
            }

            .p-gender {
                margin-top: 0px;
                font-size: 1em;
            }

            .c-date {
                margin-top: 0px;
                font-size: 1em;
            }

            .prescriptions {
                font-size: 12px;
            }
        }
    </style>

    <!--<div id="print-content">

        <p class="p-name">{{$ctrl.patient.FullName}}</p>
        <br />
        <div>

            <table>
                <tr>
                    <td class="p-age">{{$ctrl.patient.Age}}</td>
                    <td class="p-gender">{{$ctrl.patient.Gender}}</td>
                    <td class="c-date">{{$ctrl.myConsultation.TransactionDate | date: 'MMM dd, yyyy'}}</td>
                </tr>
            </table>

        </div>


        <div class="prescriptions">
            <div ng-repeat="row in $ctrl.prescribeMeds">
                <br />
                <br />
                <p>{{row.Medication}}&nbsp;{{row.Strength}}&nbsp;#{{row.Volume}}</p>
                <br/>
                <p>sig:&nbsp;{{row.Frequency}}&nbsp;{{row.Remarks}}</p>

            </div>
        </div>




    </div>-->

    <table id="print-content">
        <thead>
            <tr>
                <th colspan="3" id="header">
                    <p class="p-name">{{$ctrl.patient.FullName}}</p>
                </th>
            </tr>
            <tr>
                <th id="header" style="text-align:left;" class="p-age">{{$ctrl.patient.Age}}</th>
                <th id="header" style="text-align:center;" class="p-gender">{{$ctrl.patient.Gender}}</th>
                <th id="header" style="text-align:right;" class="c-date">{{$ctrl.myConsultation.TransactionDate | date: 'MMM dd, yyyy'}}</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <br />
                    <br />
                </td>
            </tr>
            <tr ng-repeat="row in $ctrl.prescribeMeds">
                <td colspan="3">
                    <br />
                    <p>{{row.Medication}}&nbsp;{{row.Strength}}&nbsp;#{{row.Volume}}</p>
                    <p>sig:&nbsp;{{row.Frequency}}&nbsp;{{row.Remarks}}</p>
                </td>
            </tr>
        </tbody>
    </table>


</div>
