<br />
<div class="container">

    <div class="radio-inline form-inline">
        <label>
            <input type="radio" ng-click="$ctrl.toggleFilter('all')" ng-model="$ctrl.selectedFilter" ng-checked="true" ng-value="1" />Patient list
        </label>
    </div>

    <div class="radio-inline form-inline ">
        <label>
            <input type="radio" ng-click="$ctrl.toggleFilter('waiting')" ng-model="$ctrl.selectedFilter" ng-value="2" />Waiting list

        </label>
    </div>

    <div class="radio-inline form-inline ">
        <label>
            <input type="radio" ng-click="$ctrl.toggleFilter('date')" ng-model="$ctrl.selectedFilter" ng-value="3" />By consultation date
            
        </label>
        <input style="margin-left:1em" type="date" class="form-control small" ng-model="$ctrl.selectedDate" ng-change="$ctrl.PatientByDate()" />
    </div>
    
</div>

<table st-table="$ctrl.patientsListDisplay" st-safe-src="$ctrl.patientsList" class="table table-condensed table-responsive table-striped">



    <thead>
        <tr>

            <th colspan="8"><input st-search="" class="input-sm form-control pull-right" placeholder="Search" type="search" /></th>
        </tr>
        <tr>
            <th></th>
            <th st-sort="FirstName">First Name</th>
            <th st-sort="LastName">Last Name</th>
            <th st-sort="Gender">Gender</th>
            <th st-sort="BirthDate">Birth Date</th>
            <th st-sort="Remarks">Remarks</th>
            <th ng-if="$ctrl.selectedFilter == 2" ></th>
        </tr>
    </thead>

    <tbody>

       

        <tr ng-repeat="row in $ctrl.patientsListDisplay">
            <td>
            
                <button class="btn btn-xs btn-primary" ng-click="$ctrl.selectPatient(row)"><span class="fa fa-arrow-circle-o-right"></span></button>
            </td>
            <td>{{row.FirstName}}</td>
            <td>{{row.LastName}}</td>
            <td>{{row.Gender}}</td>
            <td>{{row.BirthDate | date: 'MMM dd, yyyy'}}</td>
            <td>{{row.Remarks}}</td>
            <td ng-if="$ctrl.selectedFilter == 2" ><input type="button" value="Done" ng-click="$ctrl.waitingDone(row)"/></td>
        </tr>
    </tbody>


    <tfoot>
        <tr>

            <td class="text-center" st-pagination="" st-items-by-page="8" colspan="6"></td>
        </tr>
    </tfoot>
</table>