
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="cont">


    <div class="row">

        <div class="col-sm-12">
            <div class="form-group form-group-sm">
                <button style="box-shadow: 3px 3px 2px #888888" class="btn btn-primary" ng-click="showAddModal()"><span class="fa fa-plus"></span> Add Patient</button>


            </div>

        </div>
    </div>


    <!-- DISPLAY PATIENT LIST -->
    <!-- DISPLAY PATIENT LIST -->
    <!-- DISPLAY PATIENT LIST -->


        <div class="col-sm-12">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel-primary">
                <div class="panel-heading">Patients List</div>


                <table st-table="patientsListDisplay" st-safe-src="patientsList" class="table table-condensed table-responsive table-striped table-bordered">


                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Birth Date</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="row in patientsListDisplay">
                            <td>{{row.FirstName + " " + row.MiddleName + " " + row.LastName}}</td>
                            <td>{{row.Gender}}</td>
                            <td>{{row.Age}}</td>
                            <td>{{row.BirthDate | date: 'MMM dd, yyyy'}}</td>

                            <td>

                                <button class="btn-sm btn btn-info" ng-click="showDetailModal(row)"><span class="fa fa-info-circle"></span> Details</button>

                            </td>


                            <td>

                                <button class="btn-sm btn btn-success" ng-click="showEditModal(row)"><span class="fa fa-edit"></span> Edit</button>

                            </td>

                            <td>

                                <button class="btn-sm btn btn-warning" ng-click="showConfirmDeleteModal(row)"><span class="fa fa-remove"></span> Delete</button>

                            </td>

                        </tr>
                    </tbody>


                    <tfoot>
                        <tr>

                            <td class="text-center" st-pagination="" st-items-by-page="8" colspan="7"></td>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>



    <!-- ADD PATIENTS LIST -->
    <!-- ADD PATIENTS LIST -->
    <!-- ADD PATIENTS LIST -->


        
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">Modal title</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="FirstName">First Name:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.FirstName" ng-disabled="disableInput" class="form-control" id="FirstName" />
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="MiddleName">Middle Name:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.MiddleName" ng-disabled="disableInput" class="form-control" id="MiddleName" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="LastName">Last Name:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.LastName" ng-disabled="disableInput" class="form-control" id="LastName" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Gender">Gender:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.Gender" ng-disabled="disableInput" class="form-control" id="Gender" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="BirthDate">BirthDate:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.BirthDate" ng-disabled="disableInput" class="form-control" id="BirthDate" />
                            </div>
                        </div>
                        
                        <div class="form-group" ng-show="showAge">
                            <label class="control-label col-sm-2" for="Age">Age:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.Age" ng-disabled="disableInput" class="form-control" id="Age" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="BloodType">Blood Type:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.BloodType" ng-disabled="disableInput" class="form-control" id="BloodType" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="ContactNumber1">Contact No. 1:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.ContactNumber1" ng-disabled="disableInput" class="form-control" id="ContactNumber1" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="ContactNumber2">Contact No. 2:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.ContactNumber2" ng-disabled="disableInput" class="form-control" id="ContactNumber2" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Address1">Address 1:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.Address1" ng-disabled="disableInput" class="form-control" id="Address1" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Address2">Address 2:</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="Patient.Address2" ng-disabled="disableInput" class="form-control" id="Address2" />
                            </div>
                        </div>           
                     
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="updatePatient()" data-dismiss="modal" class="btn btn-primary">Save Changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->







    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to remove <span><strong id="deletePatientFullName"></strong></span> from patient list?</h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn-sm btn btn-primary" ng-click="deletePatient()" data-dismiss="modal">  Yes  </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    </div>






@section Scripts{       
    
    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    
    <script>

        angular.module('app', ['smart-table'], function () { })
        .controller('cont', function ($scope, $http) {


            function ToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt;
            }


            $scope.submitType;

            $scope.disableInput = false;

            $scope.showAge = false;


            //GET PATIENTSLIST


            $scope.patientsList = [];
            $scope.patientsListDisplay = [].concat($scope.patientsList);

            $http({
                method: 'GET',
                url: '/Patients/getPatients'
            }).success(function (data) {


                angular.forEach(data, function (resdata) {


                    var BirthDate = new Date(ToJavaScriptDate(resdata.BirthDate))
                    resdata.BirthDate = BirthDate;


                });


                $scope.patientsList = data;

            }, function errorCallBack(data) {

            });


            //ADD PATIENTS

            $scope.showAddModal = function () {

                $('#addModal').modal('toggle');

                $scope.submitType = 'add';

                $('#modalTitle').text('Add New Patient');

                $scope.disableInput = false;

                $scope.showAge = false;
            }

            $scope.Patient = {

                Id: '',
                FirstName: '',
                MiddleName: '',
                LastName: '',
                Gender: '',
                BirthDate: '',
                Age: '',
                BloodType: '',
                ContactNumber1: '',
                ContactNumber2: '',
                Address1: '',
                Address2: ''

            };

            $scope.clearAddModal = function () {

                $scope.Patient = {

                    FirstName: '',
                    MiddleName: '',
                    LastName: '',
                    Gender: '',
                    BirthDate: '',
                    Age: '',
                    BloodType: '',
                    ContactNumber1: '',
                    ContactNumber2: '',
                    Address1: '',
                    Address2: ''

                };

            }

            $scope.updatePatient = function () {
               
                if ($scope.submitType == 'add') {

                    $http({
                        method: 'POST',
                        url: '/Patients/addPatient',
                        data: $.param({ patient: $scope.Patient }),
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                    }).success(function (data) {

                        var BirthDate = new Date(ToJavaScriptDate(data.BirthDate))
                        data.BirthDate = BirthDate;


                        $scope.patientsList.push(data);

                        $scope.clearAddModal();


                    });

                }
                else {

                    $http({
                        method: 'POST',
                        url: '/Patients/editPatient',
                        data: $.param({ patient: $scope.Patient }),
                        headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                    }).success(function (data) {

                        $scope.patientsList.push(data);

                        $scope.clearAddModal();


                    });
                }
                

            }


            //EDIT PATIENTS


            $scope.showEditModal = function (row) {

                $scope.showAddModal();

                $('#modalTitle').text('Edit Patient');

                $scope.Patient = row;

                $scope.submitType = 'edit';

                $scope.disableInput = false;

                $scope.showAge = false;
            }

            
            //DETAILS PATIENTS

            $scope.showDetailModal = function (row) {

                $scope.showAddModal();

                $('#modalTitle').text('Patient Details');

                $scope.Patient = row;

                $scope.disableInput = true;

                $scope.showAge = true;
               
            }


            //DELETE PATIENTS

            

            $scope.showConfirmDeleteModal = function (row) {

                $scope.Patient = row;
                
                $('#deleteModal').modal('toggle');
                
                $('#deletePatientFullName').text(row.FirstName + ' ' + row.MiddleName + ' ' + row.LastName);
            }


            $scope.deletePatient = function () {


                $http({
                    method: 'GET',
                    url: '/Patients/delete?id=' + $scope.Patient.Id + ''
                }).success(function (data) {

                    if (data == "ok") {

                        var index = $scope.patientsList.indexOf($scope.Patient);

                        $scope.patientsList.splice(index, 1);
                    }

                }, function errorCallback(data) {

                });
            };



        });



    </script>
    
    
    
    
    
    }