
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients</h2>
<hr />

<div ng-app="app">

    <patient></patient>

</div>


@section Scripts{

<script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<script src="~/Scripts/app/PatientsComponent.js"></script>
   

    <script>

        var app = angular.module('app', ['smart-table', 'patientsComponent'


        ]);

    </script>

}