
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients</h2>
<hr />

<div ng-app="app" ng-controller="patientCtrl">

    <!-- DISPLAY PATIENT LIST -->
    <!-- DISPLAY PATIENT LIST -->
    <!-- DISPLAY PATIENT LIST -->


        <div class="col-sm-12">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                
                <div style="height:50px" class="panel-heading">
                    Patient List
                    <button class="pull-right btn-sm btn btn-default" ng-click="showAddModal()"><span class="fa fa-plus"></span></button>
                </div>
                
                <div class="panel-body">
                    <table st-table="patientsListDisplay" st-safe-src="patientsList" class="table table-condensed table-responsive table-striped">
                        
                        <thead>
                            <tr>

                                <th colspan="8"><input st-search="" class="input-sm form-control pull-right" placeholder="Search" type="search" /></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th st-sort="FirstName">First Name</th>
                                <th st-sort="MiddleName">Middle Name</th>
                                <th st-sort="LastName">Last Name</th>
                                <th st-sort="Gender">Gender</th>
                                <th st-sort="Age">Age</th>
                                <th st-sort="BirthDate">Birth Date</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in patientsListDisplay">
                                <td>
                                    <button class="btn btn-xs btn-info" ng-click="showDetailModal(row)"><span class="fa fa-info-circle"></span></button>
                                    <button class="btn btn-xs btn-primary" ng-click="showEditModal(row)"><span class="fa fa-edit"></span></button>
                                </td>
                                <td>{{row.FirstName}}</td>
                                <td>{{row.MiddleName}}</td>
                                <td>{{row.LastName}}</td>
                                <td>{{row.Gender}}</td>
                                <td>{{row.Age}}</td>
                                <td>{{row.BirthDate | date: 'MMM dd, yyyy'}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click="showConfirmDeleteModal(row)"><span class="fa fa-remove"></span></button></td>
                            </tr>
                        </tbody>


                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="8"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>



    <!-- ADD PATIENTS LIST -->
    <!-- ADD PATIENTS LIST -->
    <!-- ADD PATIENTS LIST -->


        
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">Modal title</h4>
                </div>
                <div class="modal-body">
                    
                        
                        <form role="form" class="form-horizontal">

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label>First Name</label>
                                    <input type="text" ng-model="Patient.FirstName" ng-disabled="disableInput" class="form-control" id="FirstName" />
                                </div>

                                <div class="col-sm-4">
                                    <label>Middle Name</label>
                                    <input type="text" ng-model="Patient.MiddleName" ng-disabled="disableInput" class="form-control" id="MiddleName" />
                                </div>

                                <div class="col-sm-4">
                                    <label>Last Name</label>
                                    <input type="text" ng-model="Patient.LastName" ng-disabled="disableInput" class="form-control" id="LastName" />
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-sm-4">
                                    <label>Birth Date</label>
                                    <input type="text" ng-model="Patient.BirthDate" ng-disabled="disableInput" class="form-control" id="BirthDate" />
                                </div>

                                <div class="col-sm-2" ng-show="showAge">
                                    <label>Age</label>
                                    <input type="text" ng-model="Patient.Age" ng-disabled="disableInput" class="form-control" id="Age" />
                                </div>

                            </div>

                            <div class="form-group">
                                
                                <div class="col-sm-4">
                                    <label>Gender</label>
                                    <input type="text" ng-model="Patient.Gender" ng-disabled="disableInput" class="form-control" id="Gender" />
                                </div>

                                <div class="col-sm-4">
                                    <label>Blood Type</label>
                                    <input type="text" ng-model="Patient.BloodType" ng-disabled="disableInput" class="form-control" id="BloodType" />
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-sm-4">
                                    <label>Contact #1</label>
                                    <input type="text" ng-model="Patient.ContactNumber1" ng-disabled="disableInput" class="form-control" id="ContactNumber1" />
                                </div>

                                <div class="col-sm-4">
                                    <label>Contact #2</label>
                                    <input type="text" ng-model="Patient.ContactNumber2" ng-disabled="disableInput" class="form-control" id="ContactNumber2" />
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-sm-12">
                                    <label>Address #1</label>
                                    <input type="text" ng-model="Patient.Address1" ng-disabled="disableInput" class="form-control" id="Address1" />
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-sm-12">
                                    <label>Address #2</label>
                                    <input type="text" ng-model="Patient.Address2" ng-disabled="disableInput" class="form-control" id="Address2" />
                                </div>
                            </div>

                        </form>                 
                                       
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="updatePatient()" data-dismiss="modal" class="btn btn-primary">Save Changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    

    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to remove <span><strong id="deletePatientFullName"></strong></span> from patient list?</h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn-sm btn btn-primary" ng-click="deletePatient()" data-dismiss="modal">  Yes  </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    </div>






@section Scripts{       
    
    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    
    <script src="~/Scripts/app/PatientController.js"></script>


    <script>

        var app = angular.module('app', ['smart-table', 'patientController'


        ]);

    </script>
    
    }