
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="waitingCtrl">
    <h2>Waiting List</h2>
    <hr />
    <div class="row">

        
        <!-- DISPLAY WAITING LIST -->
        <!-- DISPLAY WAITING LIST -->
        <!-- DISPLAY WAITING LIST -->


        <div class="col-sm-12">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                <div style="height:50px" class="panel-heading"><span class="fa fa-clock-o"></span> Patient waiting list
                    <button class="pull-right btn-sm btn btn-default" ng-click="showAddWaitingModal()"><span class="fa fa-plus"></span></button> 
                </div>

                <div class="panel-body" >

                    <table st-table="waitingListDisplay" st-safe-src="waitingList" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>

                                <th colspan="5"><input st-search="" class="input-sm form-control pull-right" placeholder="Search" type="search" /></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th st-sort="PatientFullName">Name</th>
                                <th st-sort="Schedule">Schedule</th>
                                <th>Remarks</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr ng-repeat="row in waitingListDisplay">
                                <td><button class="btn-sm btn btn-primary" ng-click="admitPatient(row)"><span class="fa fa-arrow-right"></span></button></td>
                                <td>{{row.PatientFullName}}</td>
                                <td>{{row.Schedule | date: 'medium'}}</td>
                                <td>{{row.Remarks}}</td>
                                <td>

                                    <button class="btn-sm btn btn-danger" ng-click="showConfirmDeleteModal(row)"><span class="fa fa-remove"></span></button>


                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="5"></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

              

            </div>

        </div>


    </div>



    <!----------------------------------------------->
    <!----------------------------------------------->
    <!----------------------------------------------->
    <!-- ADD WAITING LIST -->
    <!-- ADD WAITING LIST -->
    <!-- ADD WAITING LIST -->


    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Patients</h4>
                </div>
                <div class="modal-body">

                    <table st-table="patientsListDisplay" st-safe-src="patientsList" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>
                                <th colspan="5"><input st-search="" class="input-sm form-control pull-right" placeholder="Search" type="search" /></th>
                            </tr>
                            <tr>

                                <th>Name</th>
                                <th>Gender</th>
                                <th>Birth Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr></tr>
                            <tr ng-repeat="row in patientsListDisplay">
                                <td>{{row.FirstName + ' ' + row.MiddleName + " " + row.LastName}}</td>
                                <td>{{row.Gender}}</td>
                                <td>{{row.BirthDate | date: 'MMM dd, yyyy'}}</td>
                                <td>
                                    <button class="btn-xs btn btn-primary" ng-click="addWaiting(row.Id)"><span class="fa fa-plus"></span> Add</button>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>

                    <hr />

                    <div class="form-group">
                        <label for="remarksTb">Remarks</label>
                        <input id="remarksTb" class="input-sm form-control" />
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to remove <span><strong id="dName"></strong></span> from waiting list?</h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn-sm btn btn-primary" ng-click="DeleteWaiting()" data-dismiss="modal">  Yes  </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="admitModal" tabindex="-1" role="dialog" aria-labelledby="admitModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="admitModal-label"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Admit patient <strong id="confirmAdmitPatientName"></strong>?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Admit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog" aria-labelledby=""AlertModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id=""AlertModal-label"><span class="fa fa-exclamation-triangle"></span> Alert</h4>
                </div>
                <div class="modal-body">
                    <p>{{alertMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="quickAddModal" tabindex="-1" role="dialog" aria-labelledby="quickAddModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="quickAddModal-label">Modal title</h4>
                </div>
                <div class="modal-body">
                    
                    <p id="notif"></p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-show="disableSave" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>


</div>


@section Scripts{


    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/Scripts/app/WaitingController.js"></script>
    <script>

        var app = angular.module('app', ['smart-table', 'waitingController'


        ]);

    </script>


}