
@{
    ViewBag.Title = "Index";
}


<link href="~/.bin/bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet" />
<link href="~/.bin/bower_components/selectize/dist/css/selectize.default.css" rel="stylesheet" />


<div ng-app="app" ng-controller="diagnosisCtrl">
    <h2>Diagnosis</h2>
    <hr />
    <div class="col-sm-12">

        <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
            
            <div style="height:50px" class="panel-heading">
                 Diagnosis List
                <button class="pull-right btn-sm btn btn-default" ng-click="showAddModal()"><span class="fa fa-plus"></span></button>
            </div>
            

            <div class="panel-body">
                <table st-table="diagnosisListDisplay" st-safe-src="diagnosisList" class="table table-condensed table-responsive table-striped">
                    <thead>
                        <tr>

                            <th colspan="5"><input st-search="" class="input-sm form-control pull-right" placeholder="Search" type="search" /></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th st-sort="DiagnosisName">Name</th>
                            <th st-sort="CategoryName">Category</th>
                            <th st-sort="Description">Description</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="row in diagnosisListDisplay">

                            <td><button class="btn btn-xs btn-primary" ng-click="showEditModal(row)"><span class="fa fa-edit"></span></button></td>
                            <td>{{row.DiagnosisName}}</td>
                            <td>{{row.CategoryName}}</td>
                            <td>{{row.Description}}</td>
                            <td><button class="btn btn-xs btn-danger" ng-click="showDeleteModal(row)"><span class="fa fa-remove"></span></button></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>

                            <td class="text-center" st-pagination="" st-items-by-page="8" colspan="5"></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>

    </div>



    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">Modal title</h4>
                </div>
                <div class="modal-body">


                    <form class="margin-bottom-40" role="form">

                        <div class="form-group">

                            <label>Name</label>
                                <input type="text" ng-model="diagnosis.DiagnosisName" ng-disabled="disableInput" class="form-control" id="DiagnosisName" />
                           
                        </div>


                        <div class="form-group">

                            <label>Category</label>
                            <div class="input-group">                                
                                <ui-select ng-model="diagnosis.CategoryId">
                                    <ui-select-match placeholder="Select Value">{{$select.selected.CategoryName}}</ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in diagnosisCategoryList | filter: $select.search">

                                        <span ng-bind="item.CategoryName"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <div class="input-group-btn">
                                    <button class="btn btn-default"><span class="fa fa-plus"></span></button>
                                </div>
                            </div>
                            
                        </div>


                        <div class="form-group">

                                <label>Description</label>
                                <input type="text" ng-model="diagnosis.Description" ng-disabled="disableInput" class="form-control" id="DiagnosisDescription" />
                            
                        </div>


                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="updateDiagnosis()" data-dismiss="modal" class="btn btn-primary">Save Changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to remove <span><strong id=""></strong></span> </h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn-sm btn btn-primary" ng-click="deleteDiagnosis()" data-dismiss="modal">  Yes  </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</div>


@section Scripts {
    
    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/Scripts/app/DiagnosisController.js"></script>

    <script src="~/.bin/bower_components/selectize/dist/js/selectize.min.js"></script>
    <script src="~/.bin/bower_components/angular-ui-select/dist/select.min.js"></script>


    <script>

        var app = angular.module('app', ['ui.select', 'smart-table', 'diagnosisController']);

    </script>
    
    }