
@{
    ViewBag.Title = "ConsultationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="patientRecordComponent">

    <patient-record></patient-record>

</div>


@section Scripts {

<script src="~/.bin/bower_components/angular-ui-select/dist/select.min.js"></script>
    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/Scripts/app/PatientRecordComponent.js"></script>

  
}