<h2>Consultation</h2>

<div ng-app="app" ng-controller="consultationCtrl">
    <div class="row">
     
        <div class="col-md-8">
            <div class="pull-right" >
                <h3><span><button style="margin-right: 10px" class="btn btn-xs btn-default" ng-print print-element-id="print-content" ng-click="$ctrl.setSelectedRow(row)"><span class="fa fa-print fa-2x"></span></button></span>{{selectedConsultaion.TransactionDate | date: 'MMM dd, yyyy' }}</h3>
            
            </div>
          
            <ul class="nav nav-tabs">
              
                
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin") || User.IsInRole("Limitted") || User.IsInRole("Doctor"))
                    {
                        <li class="active"><a data-toggle="tab" href="#home">Records</a></li>

                    }


                }

                @if (Request.IsAuthenticated)
                {


                    if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
                    {
                        <li><a data-toggle="tab" href="#menu1">Diagnosis</a></li>
                        <li><a data-toggle="tab" href="#menu2">Medications</a></li>
                    }


                }


                @if (Request.IsAuthenticated)
                {


                    if (User.IsInRole("Admin") || User.IsInRole("Lab") || User.IsInRole("Doctor"))
                    {
                        <li><a data-toggle="tab" href="#menu3">Laboratory</a></li>


                    }



                }

                
                
                
                
                

            </ul>

            <div class="tab-content">


                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin") || User.IsInRole("Limitted") || User.IsInRole("Doctor"))
                    {

                        <div id="home" class="tab-pane fade in active">

                            <h3>Records</h3>
                            <new-patient-record disable-button="disableButton" selected-consultation-id="selectedConsultaion.Id" records="records"></new-patient-record>

                        </div>
                    }


                }
               
                @if (Request.IsAuthenticated)
                {


                    if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
                    {
                        <div id="menu1" class="tab-pane fade">
                            <h3>Diagnosis</h3>
                            <diagnosis disable-button="disableButton" selected-consultation-id="selectedConsultaion.Id" diagnosis-list="diagnosisList"></diagnosis>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <h3>Medications</h3>
                            <medications disable-button="disableButton" selected-consultation-id="selectedConsultaion.Id" medications="medications"></medications>
                        </div>
                    }


                }

                
                @if (Request.IsAuthenticated)
                {


                    if (User.IsInRole("Admin") || User.IsInRole("Lab") || User.IsInRole("Doctor"))
                    {
                        <div id="menu3" class="tab-pane fade">
                            <h3>Laboratory</h3>
                            <lab disable-button="disableButton" selected-consultation-id="selectedConsultaion.Id" lab-summaries="labSummaries"></lab>
                        </div>
                    }



                }

                

             
            </div>


        </div>

        <div class="col-md-4">
            <div class="col-md-12">

                <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-info">
                    <div style="height:50px" class="panel-heading">
                        Patient info
                        <button class="pull-right btn-sm btn btn-default" ng-click="showPatients()"><span class="fa fa-search"></span></button>
                    </div>

                    <div class="panel-body">
                        <table class="small table table-bordered table-condensed table-responsive">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>{{selectedPatient.FullName}}</td>
                                </tr>
                                <tr>
                                    <th>Birth date</th>
                                    <td>{{selectedPatient.BirthDate | date: 'MMM dd, yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th>Age</th>
                                    <td>{{selectedPatient.Age}}</td>
                                </tr>

                                <tr>
                                    <th>Blood Type</th>
                                    <td>{{selectedPatient.BloodType}}</td>

                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>{{selectedPatient.Address1 + ' ' + selectedPatient.Address2}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-12">

                <consultation-list prescribe-meds="medications" disable-button-consultation-list="disableButtonConsultationList" patient="selectedPatient" selected-row="selectedConsultaion" my-consultations="consultations"></consultation-list>
            </div>

        </div>
      
    </div>

    

    <div class="modal fade" id="searchPatientModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">


                <div class="modal-body">
                    <search-patient patient="selectedPatient"></search-patient>
                </div>



            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>


@section Scripts{

    <script>

        var app = angular.module('app', ['consulatationServiceModule', 'dropDownServiceModule', 'ui.select', 'smart-table', 'ngPrint', 'consultationController', 'ui.bootstrap', 'modalComponent',
            'medicationsComponent', 'searchPatientsComponent', 'newPatientRecordComponent', 'diagnosisComponent', 'labComponent']);

    </script>

    
   
    

}