
@{
    ViewBag.Title = "ConsultationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="cont">


    <div class="col-sm-12">

        <div style="box-shadow: 5px 5px 2px #888888" class="panel-primary">
            <div class="panel-heading">Consultation List</div>


            <table st-table="consultationListDisplay" st-safe-src="consultationList" class="table table-condensed table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Patient Name</th>

                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="row in consultationListDisplay">

                        <td>{{row.TransactonDate | date: 'MMM dd, yyyy'}}</td>
                        <td>{{row.PatientfullName}}</td>

                        <td>
                            <button class="btn-sm btn btn-info" ng-click="showDetailModal(row)"><span class="fa fa-info-circle"></span> Details</button>

                            <button class="btn-sm btn btn-success" ng-click=""><span class="fa fa-edit"></span> Edit</button>

                            <button class="btn-sm btn btn-warning" ng-click=""><span class="fa fa-remove"></span> Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>

                        <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>





    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">Modal title</h4>
                </div>
                <div class="modal-body">

                    <table st-table="consultationDiagnosisDisplay" st-safe-src="consultationDiagnosis" class="table table-condensed table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Diagnosis</th>
                                <th>Remarks</th>
                                <th>Amount</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationDiagnosisDisplay">

                                <td>{{row.Diagnosis}}</td>
                                <td>{{row.Remarks}}</td>
                                <td>{{row.Amount}}</td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>


                    <br />

                    <table st-table="consultationRecordDisplay" st-safe-src="consultationRecord" class="table table-condensed table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationRecordDisplay">

                                <td>{{row.RecordTypeName}}</td>
                                <td>{{row.RecordValue}}</td>
                                

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>


                    <table st-table="consultationMedicationDisplay" st-safe-src="consultationMedication" class="table table-condensed table-responsive table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationMedicationDisplay">

                                <td>{{row.Medication}}</td>
                                <td>{{row.Amount}}</td>
                                <td>{{row.Quantity}}</td>
                                <td>{{row.Remarks}}</td>


                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</div>


@section Scripts {
    
    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>

    <script>

        angular.module('app', ['smart-table']).controller('cont', function ($scope, $http) {


            $scope.consultationList = [];
            $scope.consultationListDisplay = [].concat($scope.consultationList);

            $scope.consultationDiagnosis = [];
            $scope.consultationDiagnosisDisplay = [].concat($scope.consultationDiagnosis);

            $scope.consultationRecord = [];
            $scope.consultationRecordDisplay = [].concat($scope.consultationRecord);

            $scope.consultationMedication = [];
            $scope.consultationMedicationDisplay = [].concat($scope.consultationMedication);

            $scope.selectedRow;

            function ToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt;
            }


            //GET CONSULTATION LIST

            $http({

                method: 'GET',
                url: '/Consultation/getConsultaions'

            }).success(function (data) {

                angular.forEach(data, function (resdata) {

                    var TransactonDate = new Date(ToJavaScriptDate(resdata.TransactonDate))
                    resdata.TransactonDate = TransactonDate;

                });

                $scope.consultationList = data;
            });



            //GET CONSULTATION DIAGNOSIS DETAIL

            $scope.showDetailModal = function (row) {

                $('#detailModal').modal('toggle');

                $http({

                    method: 'GET',
                    url: '/Consultation/getConsultaionDetail?ConsultationId=' + row.Id + ''

                }).success(function (data) {

                    $scope.consultationDiagnosis = data.DiagnosisList;
                });

                $http({

                    method: 'GET',
                    url: '/Consultation/getConsultaionDetail?ConsultationId=' + row.Id + ''

                }).success(function (data) {

                    $scope.consultationRecord = data.RecordList;
                });

                $http({

                    method: 'GET',
                    url: '/Consultation/getConsultaionDetail?ConsultationId=' + row.Id + ''

                }).success(function (data) {

                    $scope.consultationMedication = data.PrescribeMedicationList;
                });
            }

        });

    </script>
    
    }