
@{
    ViewBag.Title = "ConsultationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="cont">
    <h2>Consultation List</h2>
    <hr>
    <div class="row">
        <div class="col-sm-8">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                <div class="panel-heading">Patient List</div>

                <div class="panel-body">
                    <table st-table="consultationListDisplay" st-safe-src="consultationList" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>

                                <th colspan="5"><input st-search="" class="input-sm form-control pull-right" placeholder="Search" type="search" /></th>
                            </tr>

                            <tr>
                                <th></th>
                                <th st-sort="TransactionDate">Date</th>
                                <th st-sort="PatientfullName">Patient Name</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationListDisplay">


                                <td><button class="btn btn-xs btn-info" ng-click="showDetailModal(row)"><span class="fa fa-info-circle"></span></button></td>
                                <td>{{row.TransactonDate | date: 'MMM dd, yyyy'}}</td>
                                <td>{{row.PatientfullName}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click=""><span class="fa fa-remove"></span></button></td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

            </div>
        </div>
    </div>



    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body">


                    <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                        <div class="panel-heading">Diagnosis</div>
                        <table st-table="consultationDiagnosisDisplay" st-safe-src="consultationDiagnosis" class="table table-condensed table-responsive table-striped">
                            <thead>
                                <tr>

                                    <th></th>
                                    <th>Diagnosis</th>
                                    <th>Remarks</th>
                                    <th>Amount</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="row in consultationDiagnosisDisplay">

                                    <td><button class="btn btn-xs btn-primary" ng-click=""><span class="fa fa-edit"></span></button></td>
                                    <td>{{row.Diagnosis}}</td>
                                    <td>{{row.Remarks}}</td>
                                    <td>{{row.Amount}}</td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>

                                    <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                        <br />

                    <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                        <div class="panel-heading">Record</div>
                        <table st-table="consultationRecordDisplay" st-safe-src="consultationRecord" class="table table-condensed table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Value</th>


                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="row in consultationRecordDisplay">

                                    <td><button class="btn btn-xs btn-primary" ng-click=""><span class="fa fa-edit"></span></button></td>
                                    <td>{{row.RecordTypeName}}</td>
                                    <td>{{row.RecordValue}}</td>


                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>

                                    <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                                </tr>
                            </tfoot>
                        </table>
                      </div>

                    <br />

                    <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                        <div class="panel-heading">Medication</div>
                        <table st-table="consultationMedicationDisplay" st-safe-src="consultationMedication" class="table table-condensed table-responsive table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Quantity</th>
                                    <th>Remarks</th>


                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="row in consultationMedicationDisplay">
                                    <td><button class="btn btn-xs btn-primary" ng-click=""><span class="fa fa-edit"></span></button></td>
                                    <td>{{row.Medication}}</td>
                                    <td>{{row.Amount}}</td>
                                    <td>{{row.Quantity}}</td>
                                    <td>{{row.Remarks}}</td>


                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>

                                    <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                                </tr>
                            </tfoot>
                        </table>
                     </div>

                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



</div>


@section Scripts {
    
    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>

    <script>

        angular.module('app', ['smart-table']).controller('cont', function ($scope, $http) {


            $scope.consultationList = [];
            $scope.consultationListDisplay = [].concat($scope.consultationList);

            $scope.consultationDiagnosis = [];
            $scope.consultationDiagnosisDisplay = [].concat($scope.consultationDiagnosis);

            $scope.consultationRecord = [];
            $scope.consultationRecordDisplay = [].concat($scope.consultationRecord);

            $scope.consultationMedication = [];
            $scope.consultationMedicationDisplay = [].concat($scope.consultationMedication);

            $scope.selectedRow;

            function ToJavaScriptDate(value) {
                var pattern = /Date\(([^)]+)\)/;
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return dt;
            }


            //GET CONSULTATION LIST

            $http({

                method: 'GET',
                url: '/Consultation/getConsultaions'

            }).success(function (data) {

                angular.forEach(data, function (resdata) {

                    var TransactonDate = new Date(ToJavaScriptDate(resdata.TransactonDate))
                    resdata.TransactonDate = TransactonDate;

                });

                $scope.consultationList = data;
            });



            //GET CONSULTATION DIAGNOSIS DETAIL

            $scope.showDetailModal = function (row) {

                $('#modalTitle').text('Details');

                $('#detailModal').modal('toggle');

                $http({

                    method: 'GET',
                    url: '/Consultation/getConsultaionDetail?ConsultationId=' + row.Id + ''

                }).success(function (data) {

                    $scope.consultationDiagnosis = data.DiagnosisList;
                });

                $http({

                    method: 'GET',
                    url: '/Consultation/getConsultaionDetail?ConsultationId=' + row.Id + ''

                }).success(function (data) {

                    $scope.consultationRecord = data.RecordList;
                });

                $http({

                    method: 'GET',
                    url: '/Consultation/getConsultaionDetail?ConsultationId=' + row.Id + ''

                }).success(function (data) {

                    $scope.consultationMedication = data.PrescribeMedicationList;
                });
            }

        });

    </script>
    
    }