
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/.bin/bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet" />


<div ng-app="app" ng-controller="cont">


    <div class="row">

        <div class="col-md-6">

            <h2>Consultation</h2>
            <hr />
            <div class="btn-group-sm">
                <button ng-click="getAdmitted()" class="btn btn-primary">Get admitted patient</button>
                <button ng-disabled="disableCancelAdmitionBtn" ng-click="showCancelAdmitModal()" class="btn btn-default">Cancel admition</button>
                <button class="btn btn-success" ng-click="showPreview()">View prescription</button>
                <button class="btn btn-primary">Select patient</button>
            </div>
        </div>
        <p></p>
        <div class="col-md-6">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-info">
                <div class="panel-heading">Patient info</div>
                <table class="small table table-bordered table-condensed table-responsive">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Birth date</th>
                            <th>Age</th>
                            <th>Blood Type</th>
                            <th>Address</th>
                        </tr>
                        <tr>
                            <td>{{admittedPatient.FullName}}</td>
                            <td>{{admittedPatient.BirthDate | date: 'MMM dd, yyyy'}}</td>
                            <td>{{admittedPatient.Age}}</td>
                            <td>{{admittedPatient.BloodType}}</td>
                            <td>{{admittedPatient.FullAddress}}</td>
                        </tr>

                    </tbody>
                </table>
                <div class="panel-body">
                </div>
            </div>

        </div>


        <div class="col-md-6">
            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">

                <div style="height:50px" class="panel-heading">
                    Diagnosis
                    <button class="pull-right btn-sm btn btn-default" ng-click="showConsultationChildrenModal('ConsultationDiagnosisModal', 'add', '')"><span class="fa fa-plus"></span></button>
                </div>

                <div class="panel-body">
                    <table st-table="consultationDiagnosisList" class="small table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Diagnosis</th>
                                <th>Remarks</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationDiagnosisList">

                                <td><button class="btn btn-xs btn-default" ng-click="showConsultationChildrenModal('ConsultationDiagnosisModal', 'edit', row)"><span class="fa fa-edit"></span></button></td>
                                <td>{{row.Diagnosis}}</td>
                                <td>{{row.Remarks}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click="showDeleteModal('ConsultationDiagnosisModal', row)"><span class="fa fa-remove"></span></button></td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>


            </div>

        </div>

        <div class="col-md-6">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">

                <div style="height:50px" class="panel-heading">
                    Records
                    <button class="pull-right btn-sm btn btn-default" ng-click="showConsultationChildrenModal('ConsultationRecordModal', 'add', '')"><span class="fa fa-plus"></span></button>
                </div>

                <div class="panel-body">
                    <table st-table="consultationRecordList" class="small table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Record</th>
                                <th>Value</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationRecordList">

                                <td><button class="btn btn-xs btn-default" ng-click="showConsultationChildrenModal('ConsultationRecordModal', 'edit', row)"><span class="fa fa-edit"></span></button></td>
                                <td>{{row.RecordTypeName}}</td>
                                <td>{{row.RecordValue}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click="showDeleteModal('ConsultationRecordModal', row)"><span class="fa fa-remove"></span></button></td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-md-12">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">

                <div style="height:50px" class="panel-heading">
                    Medications
                    <button class="pull-right btn-sm btn btn-default" ng-click="showConsultationChildrenModal('ConsultationMedicationModal', 'add', '')"><span class="fa fa-plus"></span></button>
                </div>


                <div class="panel-body">
                    <table st-table="consultationMedicationList" class="small table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Medication</th>
                                <th>Description</th>
                                <th>Remarks</th>
                                <th>Amount</th>
                                <th>Quantity</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationMedicationList">

                                <td><button class="btn btn-xs btn-default" ng-click="showConsultationChildrenModal('ConsultationMedicationModal', 'edit', row)"><span class="fa fa-edit"></span></button></td>
                                <td>{{row.Medication}}</td>
                                <td>{{row.Strength + " " + row.Volume + " " + row.Frequency + " " + row.Route }}</td>
                                <td>{{row.Remarks}}</td>
                                <td>{{row.Amount}}</td>
                                <td>{{row.Quantity}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click="showDeleteModal('ConsultationMedicationModal', row)"><span class="fa fa-remove"></span></button></td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="10"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>


        </div>

    </div>




    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="DeleteModal-label">Modal title</h4>
                </div>
                <div class="modal-body">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="DeleteChildren()" type="button" class="btn btn-primary">delete</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="ConsultationDiagnosisModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationDiagnosisModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationDiagnosisModal-label">Modal title</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <div class="input-group">
                            <ui-select id="ConsultationDiagnosisModalDiagnosis" ng-model="consultationDiagnosis.Diagnosis">
                                <ui-select-match placeholder="Select diagnosis">{{$select.selected.DiagnosisName}}</ui-select-match>
                                <ui-select-choices repeat="item.DiagnosisName as item in diagnosisDropDown | filter: $select.search">
                                    <span ng-bind="item.DiagnosisName"></span>
                                </ui-select-choices>
                            </ui-select>

                            <div class="input-group-btn">
                                <button class="btn btn-default"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea ng-model="consultationDiagnosis.Remarks" placeholder="Remarks" class="form-control" rows="5" id="ConsultationDiagnosisModalRemarks"></textarea>
                    </div>


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('add')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="ConsultationMedicationModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationMedicationModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationMedicationModal-label">Modal title</h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <div class="input-group">

                            <ui-select id="ConsultationMedicationModalMedication" ng-model="consultationMedication.Medication">
                                <ui-select-match placeholder="Select medication">{{$select.selected.MedicationName}}</ui-select-match>
                                <ui-select-choices repeat="item.MedicationName as item in medicationDropDown | filter: $select.search">
                                    <span ng-bind="item.MedicationName"></span>
                                </ui-select-choices>
                            </ui-select>

                            <div class="input-group-btn">
                                <button class="btn btn-default"><span class="fa fa-plus"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <input ng-model="consultationMedication.Strength" placeholder="Strength" class="form-control" id="ConsultationMedicationModalStrength" />
                    </div>

                    <div class="form-group">

                        <input ng-model="consultationMedication.Volume" placeholder="Volume" class="form-control" id="ConsultationMedicationModalVolume" />
                    </div>

                    <div class="form-group">

                        <input ng-model="consultationMedication.Frequency" placeholder="Frequency" class="form-control" id="ConsultationMedicationModalFrequency" />
                    </div>

                    <div class="form-group">

                        <input ng-model="consultationMedication.Route" placeholder="Route" class="form-control" id="ConsultationMedicationModalRoute" />
                    </div>

                    <div class="form-group">

                        <textarea ng-model="consultationMedication.Remarks" placeholder="Remarks" class="form-control" rows="5" id="ConsultationMedicationModalRemarks"></textarea>
                    </div>

                    <div class="form-group">

                        <input ng-model="consultationMedication.Amount" placeholder="Amount" class="form-control" id="ConsultationMedicationModalAmount" />
                    </div>

                    <div class="form-group">

                        <input ng-model="consultationMedication.Quantity" placeholder="Quantity" class="form-control" id="ConsultationMedicationModalQty" />
                    </div>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('add')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="ConsultationRecordModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationRecordModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationRecordModal-label">Modal title</h4>
                </div>

                <form name="recordConsultationForm">
                    <div class="modal-body">

                        <div class="form-group" ng-class="{ 'has-error' : recordConsultationForm.ConsultationFormValueTypeSelect.$invalid }">
                            <div class="input-group">

                                <ui-select ng-required="true" name="ConsultationFormValueTypeSelect" id="ConsultationRecordModalRecords" ng-model="consultationRecord.RecordTypeName">
                                    <ui-select-match placeholder="Select record type">{{$select.selected.RecordTypeName}}</ui-select-match>
                                    <ui-select-choices repeat="item.RecordTypeName as item in recordDropDown | filter: $select.search">
                                        <span ng-bind="item.RecordTypeName"></span>
                                    </ui-select-choices>
                                </ui-select>

                                <div class="input-group-btn">
                                    <button class="btn btn-default"><span class="fa fa-plus"></span></button>
                                </div>


                            </div>

                            <span class="help-block"
                                  ng-show="recordConsultationForm.ConsultationFormValueTypeSelect.$invalid">
                                Please select a record type.
                            </span>
                        </div>


                        <div class="form-group" ng-class="{ 'has-error' : recordConsultationForm.ConsultationFormValueTb.$invalid && !recordConsultationForm.ConsultationFormValueTb.$pristine }">

                            <input name="ConsultationFormValueTb" ng-required="true" ng-model="consultationRecord.RecordValue" placeholder="Value" class="form-control" id="ConsultationRecordModalRecordsValue" />
                            <span class="help-block"
                                  ng-show="recordConsultationForm.ConsultationFormValueTb.$invalid && !recordConsultationForm.ConsultationFormValueTb.$pristine">
                                Record value is required.
                            </span>

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" ng-disabled="!recordConsultationForm.$valid" ng-click="addNewConsultationChildren('add')" class="btn btn-primary">Save</button>
                    </div>

                </form>

            </div>
        </div>
    </div>



    <div class="modal fade" id="consultationPreviewModal" tabindex="-1" role="dialog" aria-labelledby="consultationPreviewModal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" id="printThis">

                    <h2 class="text-center">Clinic One</h2>
                    <address class="text-center">#0731 J. Ynares St., San Carlos Heights Subd. Tayuman Binangonan Rizal<br />Tel.: (02) 651-3742 * Mobile: +639995520579</address>
                    <hr />

                    <label>Name: </label> {{ admittedPatient.FirstName + " " + admittedPatient.MiddleName + " " + admittedPatient.LastName }}
                    <br />
                    <label>Address: </label> {{ admittedPatient.Address1 + " " + admittedPatient.Address2 }}
                    <br />
                    <label>Age: </label> {{ admittedPatient.Age }} <label>Gender: </label> {{ admittedPatient.Gender }} <label>Date: </label> {{ admittedPatient.FirstName }}
                    <hr />
                    <p><strong style="font-size:xx-large">R</strong><strong style="font-size:x-large">x</strong></p>
                    <br />

                    <div ng-repeat="row in consultationMedicationList">
                        {{row.Medication + " " + row.Strength}}
                        <br />
                        {{row.Volume + " " + row.Route + " " + row.Frequency}}
                        <br />
                        {{row.Remarks}}
                    </div>

                    <div ng-repeat="row in consultationDiagnosisList">
                        {{row.Diagnosis}}
                        <br />
                        {{row.Remarks}}
                    </div>



                    <hr />
                    <div class="row">
                        <div class="col-lg-6">

                        </div>
                        <div class="col-lg-6">
                            <label>Physician's Signature: </label>
                            <br />
                            <label>Lic. No.: </label>
                            <br />
                            <label>PTR No.: </label>
                            <br />
                            <label>S2 No.: </label>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="btnPrint">Print</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="submitConsultation()" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="cancelAdmitModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to cancel <span><strong id=""></strong></span> </h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn-sm btn btn-primary" ng-click="CancelAdmit()" data-dismiss="modal">  Yes  </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>

@section Scripts{

    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/.bin/bower_components/angular-ui-select/dist/select.min.js"></script>
   
<link href="~/.bin/bower_components/angular-hotkeys/build/hotkeys.min.css" rel="stylesheet" />
<script src="~/.bin/bower_components/angular-hotkeys/build/hotkeys.js"></script>

    <script>

        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return dt;
        }

        document.getElementById("btnPrint").onclick = function () {
            printElement(document.getElementById("printThis"));
        }

        function printElement(elem) {
            var domClone = elem.cloneNode(true);

            var $printSection = document.getElementById("printSection");

            if (!$printSection) {
                var $printSection = document.createElement("div");
                $printSection.id = "printSection";
                document.body.appendChild($printSection);
            }

            $printSection.innerHTML = "";
            $printSection.appendChild(domClone);
            window.print();
        }


        angular.module('app', ['ui.select', 'cfp.hotkeys']).controller('cont', function ($scope, $http, hotkeys) {
           
                       

            hotkeys.add({
                combo: 'ctrl+left',
                description: 'This one goes to 11',
                callback: function () {
                   
                    $scope.showConsultationChildrenModal('ConsultationDiagnosisModal', 'add', '');


                }
            });

            hotkeys.add({
                combo: 'ctrl+right',
                description: 'This one goes to 11',
                callback: function () {

                    $scope.showConsultationChildrenModal('ConsultationRecordModal', 'add', '');


                }
            });

            hotkeys.add({
                combo: 'ctrl+down',
                description: 'This one goes to 11',
                callback: function () {

                    $scope.showConsultationChildrenModal('ConsultationMedicationModal', 'add', '');


                }
            });


            $scope.disableCancelAdmitionBtn = true;

            $scope.showAddBtn = true;

            $scope.admittedPatient;
            $scope.selectedChild;
            $scope.selectedModal;

            $scope.diagnosisDropDown = [];
            $scope.medicationDropDown = [];
            $scope.recordDropDown = [];

            $scope.consultationDiagnosisList = [];

            $scope.consultationDiagnosis = {

                Diagnosis: "",
                Remarks: "",
                Amount: ""

            };

            $scope.consultationMedicationList = [];

            $scope.consultationMedication = {

                Medication: "",
                Remarks: "",
                Amount: "",
                Quantity: "",
                Strength: "",
                Volume: "",
                Frequency: "",
                Route: ""

            };

            $scope.consultationRecordList = [];

            $scope.consultationRecord = {

                RecordTypeName: "",
                RecordValue: "",

            };


            $scope.consultation = {

                "PatientId": "",

                "DiagnosisList": []

            };

            $scope.resetConsultationChildren = function () {


                if ($scope.selectedModal == 'ConsultationDiagnosisModal') {

                    $scope.consultationDiagnosis = {

                        Diagnosis: "",
                        Remarks: "",
                        Amount: ""

                    };

                }
                else if ($scope.selectedModal == 'ConsultationMedicationModal') {

                    $scope.consultationMedication = {

                        Medication: "",
                        Remarks: "",
                        Amount: "",
                        Quantity: ""

                    };


                }
                else if ($scope.selectedModal == 'ConsultationRecordModal') {

                    $scope.consultationRecord = {

                        RecordTypeName: "",
                        RecordValue: "",

                    };

                }



            };


            $scope.resetAll = function () {
                $scope.admittedPatient = '';
                $scope.consultationDiagnosisList = [];
                $scope.consultationRecordList = [];
                $scope.consultationMedicationList = [];

            };


            window.addEventListener("beforeunload", function (e) {



                if ($scope.consultationDiagnosisList.length > 0 || $scope.consultationMedicationList.length > 0 || $scope.consultationRecordList.length > 0) {

                    var confirmationMessage = 'It looks like you have been editing something. '
                                     + 'If you leave before saving, your changes will be lost.';
                    (e || window.event).returnValue = confirmationMessage; //Gecko + IE
                    return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.

                }
                else {

                }


            });


            $scope.getAdmitted = function () {

                $http({
                    method: 'GET',
                    url: '/Consultation/getAdmited'
                }).success(function (data) {


                    var BirthDate = new Date(ToJavaScriptDate(data.BirthDate))
                    data.BirthDate = BirthDate;

                    $scope.admittedPatient = data;

                    if (data != null) {
                        $scope.disableCancelAdmitionBtn = false;

                    } else {
                        $scope.disableCancelAdmitionBtn = true;

                    }


                }, function errorCallBack(data) {

                });

            };


            $scope.showDeleteModal = function (modalName, row) {

                $scope.selectedChild = row;
                $scope.selectedModal = modalName;

                if (modalName == 'ConsultationDiagnosisModal') {



                }
                else if (modalName == 'ConsultationMedicationModal') {



                }
                else if (modalName == 'ConsultationRecordModal') {



                }

                $('#DeleteModal').modal('toggle');

            };



            $scope.DeleteChildren = function () {


                if ($scope.selectedModal == 'ConsultationDiagnosisModal') {

                    var index = $scope.consultationDiagnosisList.indexOf($scope.selectedChild);

                    $scope.consultationDiagnosisList.splice(index, 1)

                }
                else if ($scope.selectedModal == 'ConsultationMedicationModal') {

                    var index = $scope.consultationMedicationList.indexOf($scope.selectedChild);

                    $scope.consultationMedicationList.splice(index, 1)

                }
                else if ($scope.selectedModal == 'ConsultationRecordModal') {

                    var index = $scope.consultationRecordList.indexOf($scope.selectedChild);

                    $scope.consultationRecordList.splice(index, 1)
                }

                $('#DeleteModal').modal('toggle');

            };


            //Consultation Children
            $scope.showConsultationChildrenModal = function (modalName, modalType, row) {

                $scope.selectedModal = modalName;
                $scope.resetConsultationChildren();

                if (modalType == 'edit') {

                    if (modalName == 'ConsultationDiagnosisModal') {



                        $http({
                            method: 'GET',
                            url: '/Diagnosis/getDiagnosis'
                        }).success(function (data) {

                            $scope.diagnosisDropDown = data;

                        });



                        $scope.consultationDiagnosis = row;
                    }
                    else if (modalName == 'ConsultationMedicationModal') {


                        $http({
                            method: 'GET',
                            url: '/Medications/getMedications/'
                        }).success(function (data) {

                            $scope.medicationDropDown = data;

                        });

                        $scope.consultationMedication = row;

                    }
                    else if (modalName == 'ConsultationRecordModal') {


                        $http({
                            method: 'GET',
                            url: '/RecordTypes/geRecordTypes/'
                        }).success(function (data) {

                            $scope.recordDropDown = data;
                        });

                        $scope.consultationRecord = row;

                    }



                } else {

                    if (modalName == 'ConsultationDiagnosisModal') {



                        $http({
                            method: 'GET',
                            url: '/Diagnosis/getDiagnosis'
                        }).success(function (data) {

                            $scope.diagnosisDropDown = data;

                        });




                    }
                    else if (modalName == 'ConsultationMedicationModal') {


                        $http({
                            method: 'GET',
                            url: '/Medications/getMedications/'
                        }).success(function (data) {

                            $scope.medicationDropDown = data;

                        });



                    }
                    else if (modalName == 'ConsultationRecordModal') {


                        $http({
                            method: 'GET',
                            url: '/RecordTypes/geRecordTypes/'
                        }).success(function (data) {

                            $scope.recordDropDown = data;
                        });



                    }

                }


                $('#' + modalName + '').modal('toggle');

            };

            $scope.addNewConsultationChildren = function (modalType) {

                if (modalType == 'edit') {


                }
                else {


                    if ($scope.selectedModal == 'ConsultationDiagnosisModal') {

                        $scope.consultationDiagnosisList.push($scope.consultationDiagnosis);
                        $('#' + $scope.selectedModal + '').modal('toggle');

                    }
                    else if ($scope.selectedModal == 'ConsultationMedicationModal') {

                        $scope.consultationMedicationList.push($scope.consultationMedication);
                        $('#' + $scope.selectedModal + '').modal('toggle');


                    }
                    else if ($scope.selectedModal == 'ConsultationRecordModal') {

                        $scope.consultationRecordList.push($scope.consultationRecord);
                        $('#' + $scope.selectedModal + '').modal('toggle');



                    }


                }


            };

            $scope.showPreview = function () {
                $('#consultationPreviewModal').modal('toggle');

            };


            $scope.submitConsultation = function () {

                $scope.consultation = {

                    PatientId: $scope.admittedPatient.Id,
                    DiagnosisList: $scope.consultationDiagnosisList,
                    PrescribeMedicationList: $scope.consultationMedicationList,
                    RecordList: $scope.consultationRecordList

                };


                $http({
                    method: 'POST',
                    url: '/Consultation/AddConsultation',
                    data: $.param({ consultaion: $scope.consultation }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }

                }).success(function (data) {
                    $('#consultationPreviewModal').modal('toggle');
                    $scope.resetAll();
                });



            };


            $scope.showCancelAdmitModal = function () {

                $('#cancelAdmitModal').modal('toggle');
            }

            $scope.CancelAdmit = function () {

                $http({
                    method: 'GET',
                    url: '/Consultation/cancelAdmitted?id=' + $scope.admittedPatient.Id + ''

                }).success(function (data) {

                    if (data == 'ok') {

                        $scope.admittedPatient = "";
                    }
                });
            }


        });


    </script>

}
