
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="app" ng-controller="cont">

    <div class="row">

        <div class="col-md-6">
            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-default" ng-click="showConsultationChildrenModal('ConsultationDiagnosisModal', 'add', '')"><span class="fa fa-plus"></span> Diagnosis</button>
                </div>

                <div class="panel-body">
                    <table st-table="consultationDiagnosisList" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Diagnosis</th>
                                <th>Remarks</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationDiagnosisList">

                                <td><button class="btn btn-xs btn-default" ng-click="showConsultationChildrenModal('ConsultationDiagnosisModal', 'edit', row)"><span class="fa fa-edit"></span></button></td>
                                <td>{{row.Diagnosis}}</td>
                                <td>{{row.Remarks}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click="showDeleteModal('ConsultationDiagnosisModal', row)"><span class="fa fa-remove"></span></button></td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>


            </div>

        </div>
        <div class="col-md-6">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                <div class="panel-heading">

                    <button class="btn btn-default" ng-click="showConsultationChildrenModal('ConsultationMedicationModal', 'add', '')"><span class="fa fa-plus"></span> Medication</button>


                </div>
                <div class="panel-body">
                    <table st-table="consultationMedicationList" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>

                                <th>Medication</th>
                                <th>Remarks</th>
                                <th>Amount</th>
                                <th>Quantity</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationMedicationList">


                                <td>{{row.Medication}}</td>
                                <td>{{row.Remarks}}</td>
                                <td>{{row.Amount}}</td>
                                <td>{{row.Quantity}}</td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>


        </div>
        <div class="col-md-6">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">
                <div class="panel-heading">

                    <button class="btn btn-default" ng-click="showConsultationChildrenModal('ConsultationRecordModal', 'add', '')"><span class="fa fa-plus"></span> Record</button>

                </div>

                <div class="panel-body">
                    <table st-table="consultationRecordList" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>

                                <th>Record</th>
                                <th>Value</th>


                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in consultationRecordList">

                                <td>{{row.RecordTypeName}}</td>
                                <td>{{row.RecordValue}}</td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            
        </div>

    </div>












    <strong>{{admittedPatient.FirstName}}</strong>

    <button ng-click="submitConsultation()">submit consultation</button>





    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="DeleteModal-label">Modal title</h4>
                </div>
                <div class="modal-body">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-click="DeleteChildren()" type="button" class="btn btn-primary">delete</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="ConsultationDiagnosisModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationDiagnosisModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationDiagnosisModal-label">Modal title</h4>
                </div>
                <div class="modal-body">

                    <input ng-model="consultationDiagnosis.Diagnosis" type="text" />
                    <input ng-model="consultationDiagnosis.Remarks" type="text" />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('add')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="ConsultationMedicationModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationMedicationModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationMedicationModal-label">Modal title</h4>
                </div>
                <div class="modal-body">

                    <input ng-model="consultationMedication.Medication" type="text" />
                    <input ng-model="consultationMedication.Remarks" type="text" />
                    <input ng-model="consultationMedication.Amount" type="number" />
                    <input ng-model="consultationMedication.Quantity" type="number" />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('add')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="ConsultationRecordModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationRecordModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationRecordModal-label">Modal title</h4>
                </div>
                <div class="modal-body">

                    <input ng-model="consultationRecord.RecordTypeName" type="text" />
                    <input ng-model="consultationRecord.RecordValue" type="text" />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('add')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>



</div>

@section Scripts{

    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>

    <script>


        window.addEventListener("beforeunload", function (e) {
            var confirmationMessage = 'It looks like you have been editing something. '
                                    + 'If you leave before saving, your changes will be lost.';

            (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        });

        angular.module('app', []).controller('cont', function ($scope, $http) {

            $scope.showAddBtn = true;

            $scope.admittedPatient;
            $scope.selectedChild;
            $scope.selectedModal;

            $scope.diagnosis = [];

            $scope.consultationDiagnosisList = [];

            $scope.consultationDiagnosis = {

                Diagnosis: "",
                Remarks: "",
                Amount: ""

            };

            $scope.consultationMedicationList = [];

            $scope.consultationMedication = {

                Medication: "",
                Remarks: "",
                Amount: 0.00,
                Quantity: 0

            };

            $scope.consultationRecordList = [];

            $scope.consultationRecord = {

                RecordTypeName: "",
                RecordValue: "",

            };


            $scope.consultation = {

                "PatientId": "",

                "DiagnosisList": []

            };

            $scope.resetConsultationChildren = function () {


                if ($scope.selectedModal == 'ConsultationDiagnosisModal') {

                    $scope.consultationDiagnosis = {

                        "Diagnosis": "",
                        "Remarks": "",
                        "Amount": ""

                    };

                }
                else if ($scope.selectedModal == 'ConsultationMedicationModal') {

                    $scope.consultationMedication = {

                        Medication: "",
                        Remarks: "",
                        Amount: 0.00,
                        Quantity: 0

                    };


                }
                else if ($scope.selectedModal == 'ConsultationRecordModal') {

                    $scope.consultationRecord = {

                        RecordTypeName: "",
                        RecordValue: "",

                    };

                }



            };


            $scope.resetAll = function () {

                $scope.resetConsultationDiagnosis();
                $scope.resetConsultationMedication();
                $scope.consultationDiagnosisList = [];

            };




            $scope.getAdmitted = function () {

                $http({
                    method: 'GET',
                    url: '/Consultation/getAdmited'
                }).success(function (data) {

                    $scope.admittedPatient = data;


                }, function errorCallBack(data) {

                });

            };


            $scope.showDeleteModal = function (modalName, row) {

                $scope.selectedChild = row;
                $scope.selectedModal = modalName;

                if (modalName == 'ConsultationDiagnosisModal') {



                }
                else if (modalName == 'ConsultationMedicationModal') {



                }
                else if (modalName == 'ConsultationRecordModal') {



                }

                $('#DeleteModal').modal('toggle');

            };



            $scope.DeleteChildren = function () {


                if ($scope.selectedModal == 'ConsultationDiagnosisModal') {

                    var index = $scope.consultationDiagnosisList.indexOf($scope.selectedChild);

                    $scope.consultationDiagnosisList.splice(index, 1)

                }
                else if ($scope.selectedModal == 'ConsultationMedicationModal') {

                    var index = $scope.consultationMedicationList.indexOf($scope.selectedChild);

                    $scope.consultationMedicationList.splice(index, 1)

                }
                else if ($scope.selectedModal == 'ConsultationRecordModal') {

                    var index = $scope.consultationRecordList.indexOf($scope.selectedChild);

                    $scope.consultationRecordList.splice(index, 1)
                }

                $('#DeleteModal').modal('toggle');

            };


            //Consultation Children
            $scope.showConsultationChildrenModal = function (modalName, modalType, row) {

                $scope.selectedModal = modalName;


                if (modalType == 'edit') {

                    if (modalName == 'ConsultationDiagnosisModal') {

                        $scope.consultationDiagnosis = row;
                    }
                    else if (modalName == 'ConsultationMedicationModal') {

                        $scope.consultationMedication = row;

                    }
                    else if (modalName == 'ConsultationRecordModal') {

                        $scope.consultationRecord = row;

                    }



                } else {


                }


                $('#' + modalName + '').modal('toggle');

            };

            $scope.addNewConsultationChildren = function (modalType) {

                if (modalType == 'edit') {


                }
                else {


                    if ($scope.selectedModal == 'ConsultationDiagnosisModal') {
                        $scope.consultationDiagnosisList.push($scope.consultationDiagnosis);

                    }
                    else if ($scope.selectedModal == 'ConsultationMedicationModal') {
                        $scope.consultationMedicationList.push($scope.consultationMedication);

                    }
                    else if ($scope.selectedModal == 'ConsultationRecordModal') {
                        $scope.consultationRecordList.push($scope.consultationRecord);
                    }


                }

                $scope.resetConsultationChildren();
                $('#' + $scope.selectedModal + '').modal('toggle');


            };


            $scope.submitConsultation = function () {


                $scope.consultation = {

                    PatientId: $scope.admittedPatient.Id,

                    DiagnosisList: $scope.consultationDiagnosisList,
                    PrescribeMedicationList: $scope.consultationMedicationList,
                    RecordList: $scope.consultationRecordList

                };


                $http({
                    method: 'POST',
                    url: '/Consultation/AddConsultation',
                    data: $.param({ consultaion: $scope.consultation }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }

                }).success(function (data) {

                    $scope.resetAll();
                });



            };


            $scope.getAdmitted();


        });


    </script>

}
