
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="cont">

    <strong>{{admittedPatient.FirstName}}</strong>
    <button ng-click="submitConsultation()">submit consultation</button>
    <button ng-click="showConsultationChildrenModal('ConsultationDiagnosisModal')" >New Diagnosis</button>
    <button ng-click="showConsultationChildrenModal('ConsultationMedicationModal')">New Prescribe Meds</button>
    <button ng-click="showConsultationChildrenModal('ConsultationRecordModal')">New Record</button>
    <button ng-click="showConsultationChildrenModal()">New Diagnosis</button>
    <button ng-click="showConsultationChildrenModal()">New Diagnosis</button>

    
    <table st-table="consultationDiagnosisList" class="table table-condensed table-responsive table-striped table-bordered">
        <thead>
            <tr>

                <th>Diagnosis</th>
                <th>Remarks</th>
               
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in consultationDiagnosisList">


                <td>{{row.Diagnosis}}</td>
                <td>{{row.Remarks}}</td>
              
            </tr>
        </tbody>
        <tfoot>
            <tr>

                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
            </tr>
        </tfoot>
    </table>

    <div class="modal fade" id="ConsultationDiagnosisModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationDiagnosisModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationDiagnosisModal-label">Modal title</h4>
                </div>
                <div class="modal-body">
                                      
                   <input ng-model="consultationDiagnosis.Diagnosis" type="text" />
                   <input ng-model="consultationDiagnosis.Remarks" type="text" />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('ConsultationDiagnosisModal')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>



    <table st-table="consultationMedicationList" class="table table-condensed table-responsive table-striped table-bordered">
        <thead>
            <tr>

                <th>Medication</th>
                <th>Remarks</th>
                <th>Amount</th>
                <th>Quantity</th>

            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in consultationMedicationList">


                <td>{{row.Medication}}</td>
                <td>{{row.Remarks}}</td>
                <td>{{row.Amount}}</td>
                <td>{{row.Quantity}}</td>

            </tr>
        </tbody>
        <tfoot>
            <tr>

                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
            </tr>
        </tfoot>
    </table>

    <div class="modal fade" id="ConsultationMedicationModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationMedicationModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationMedicationModal-label">Modal title</h4>
                </div>
                <div class="modal-body">

                    <input ng-model="consultationMedication.Medication" type="text" />
                    <input ng-model="consultationMedication.Remarks" type="text" />
                    <input ng-model="consultationMedication.Amount" type="number" />
                    <input ng-model="consultationMedication.Quantity" type="number" />


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('ConsultationMedicationModal')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <table st-table="consultationRecordList" class="table table-condensed table-responsive table-striped table-bordered">
        <thead>
            <tr>

                <th>Record</th>
                <th>Value</th>
                

            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in consultationRecordList">
                                
                <td>{{row.RecordTypeName}}</td>
                <td>{{row.RecordValue}}</td>

            </tr>
        </tbody>
        <tfoot>
            <tr>

                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
            </tr>
        </tfoot>
    </table>

    <div class="modal fade" id="ConsultationRecordModal" tabindex="-1" role="dialog" aria-labelledby="ConsultationRecordModal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="ConsultationRecordModal-label">Modal title</h4>
                </div>
                <div class="modal-body">

                    <input ng-model="consultationRecord.RecordTypeName" type="text" />
                    <input ng-model="consultationRecord.RecordValue" type="text" />
                  

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addNewConsultationChildren('ConsultationRecordModal')" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>



</div>

@section Scripts{

<script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>


    <script>
        angular.module('app', []).controller('cont', function ($scope, $http) {

            $scope.admittedPatient;

            $scope.diagnosis = [];

            $scope.consultationDiagnosisList = [];
          
            $scope.consultationDiagnosis = {

                Diagnosis : "",
                Remarks : "",
                Amount : ""

            };

            $scope.consultationMedicationList = [];

            $scope.consultationMedication = {

                Medication: "",
                Remarks: "",
                Amount: 0.00,
                Quantity: 0

            };

            $scope.consultationRecordList = [];

            $scope.consultationRecord = {

                RecordTypeName: "",
                RecordValue: "",
              
            };


            $scope.consultation = {
                              
                "PatientId": "",

                "DiagnosisList": []
 
            };

            $scope.resetConsultationChildren = function (modalName)
            {


                if (modalName == 'ConsultationDiagnosisModal') {
                    
                    $scope.consultationDiagnosis = {

                        "Diagnosis": "",
                        "Remarks": "",
                        "Amount": ""

                    };

                }
                else if (modalName == 'ConsultationMedicationModal') {
                  
                    $scope.consultationMedication = {

                        Medication: "",
                        Remarks: "",
                        Amount: 0.00,
                        Quantity: 0

                    };


                }
                else if (modalName == 'ConsultationRecordModal') {

                    $scope.consultationRecord = {

                        RecordTypeName: "",
                        RecordValue: "",

                    };
                    
                }
                else if (modalName == 'service') {

                }
                else if (modalName == 'lab') {

                }


            };

        
            $scope.resetAll = function () {
               
                $scope.resetConsultationDiagnosis();
                $scope.resetConsultationMedication();
                $scope.consultationDiagnosisList = [];

            };




            $scope.getAdmitted = function () {

                $http({
                    method: 'GET',
                    url: '/Consultation/getAdmited'
                }).success(function (data) {

                    $scope.admittedPatient = data;


                }, function errorCallBack(data) {

                });

            };



            //Consultation Children
            $scope.showConsultationChildrenModal = function(modalName)
            {
                $('#' + modalName + '').modal('toggle');

            
            };
            
            $scope.addNewConsultationChildren = function (modalName)
            {

                if (modalName == 'ConsultationDiagnosisModal')
                {
                    $scope.consultationDiagnosisList.push($scope.consultationDiagnosis);
                           
                }
                else if (modalName == 'ConsultationMedicationModal')
                {
                    $scope.consultationMedicationList.push($scope.consultationMedication);
                                       
                }
                else if (modalName == 'ConsultationRecordModal') {
                    $scope.consultationRecordList.push($scope.consultationRecord);
                }
                else if (modalName == 'service') {

                }
                else if (modalName == 'lab') {

                }

                $scope.resetConsultationChildren(modalName);
                $('#'+ modalName +'').modal('toggle');
               

            };

            
            $scope.submitConsultation = function () {


                $scope.consultation = {

                    PatientId : $scope.admittedPatient.Id,

                    DiagnosisList : $scope.consultationDiagnosisList,
                    PrescribeMedicationList: $scope.consultationMedicationList,
                    RecordList: $scope.consultationRecordList

                };
                
            
                $http({
                    method: 'POST',
                    url: '/Consultation/AddConsultation',
                    data: $.param({ consultaion: $scope.consultation }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }

                }).success(function (data) {

                    $scope.resetAll();
                });



            };


            $scope.getAdmitted();


        });


    </script>

}
