
@{
    ViewBag.Title = "RecordTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/.bin/bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet" />




<div ng-app="app" ng-controller="recordTypeCtrl">

   
    <div class="col-sm-12">

        <div style="box-shadow: 5px 5px 2px #888888" class="panel-primary">
            <div style="height:50px" class="panel-heading">
                Record Types
                <button class="pull-right btn-sm btn btn-default" ng-click="showAddModal(row)"><span class="fa fa-plus"></span></button>
            </div>


            <table st-table="recordTypesListDisplay" st-safe-src="recordTypesList" class="table table-condensed table-responsive table-striped table-bordered">
                <thead>
                    <tr>

                        <th></th>
                        <th>Record Type Name</th>
                        <th>Record Category Name</th>
                        <th>Value Type Name</th>
                        <th></th>

                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="row in recordTypesListDisplay">

                        <td><button class="btn btn-xs btn-default" ng-click="showEditModal(row)"><span class="fa fa-edit"></span></button></td>
                        <td>{{row.RecordTypeName}}</td>
                        <td>{{row.RecordTypeCategoryName}}</td>
                        <td>{{row.ValueTypeName}}</td>
                        <td><button class="btn btn-xs btn-danger" ng-click="showDeleteModal(row)"><span class="fa fa-remove"></span></button></td>


                    </tr>
                </tbody>
                <tfoot>
                    <tr>

                        <td class="text-center" st-pagination="" st-items-by-page="8" colspan="4"></td>
                    </tr>
                </tfoot>
            </table>

        </div>

    </div>




    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">Modal title</h4>
                </div>
                <div class="modal-body">

                        <div class="form-group">

                            
                                <input type="text" placeholder="Record Type Name" ng-model="recordTypes.RecordTypeName" ng-disabled="disableInput" class="form-control" id="RecordTypeName" />
                            
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                        
                                    <ui-select ng-model="recordTypes.RecordTypeCategoryId">
                                        <ui-select-match placeholder="Select Record Type Category">{{$select.selected.Category}}</ui-select-match>
                                        <ui-select-choices repeat="item.Id as item in recordTypeCategoryList | filter: $select.search">

                                            <span ng-bind="item.Category"></span>
                                        </ui-select-choices>
                                    </ui-select>


                                    <div class="input-group-btn">
                                        <button class="btn btn-default"><span class="fa fa-plus"></span></button>
                                    </div>

                              
                            </div>
                        </div>



                        <div class="form-group">
                           
                            
                                <ui-select ng-model="recordTypes.ValueTypeId">
                                    <ui-select-match placeholder="Select Value Type Category">{{$select.selected.ValueTypeName}}</ui-select-match>
                                    <ui-select-choices repeat="item.Id as item in valueTypeList | filter: $select.search">

                                        <span ng-bind="item.ValueTypeName"></span>
                                    </ui-select-choices>
                                </ui-select>


                            
                        </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="updateRecordType()" data-dismiss="modal" class="btn btn-primary">Save Changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to remove <span><strong id=""></strong></span> </h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn-sm btn btn-primary" ng-click="deleteRecordType()" data-dismiss="modal">  Yes  </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




</div>


@section Scripts {

    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="~/Scripts/app/RecordTypeController.js"></script>

    <script src="~/.bin/bower_components/selectize/dist/js/selectize.min.js"></script>
    <script src="~/.bin/bower_components/angular-ui-select/dist/select.min.js"></script>

    <script>

        var app = angular.module('app', ['ui.select', 'smart-table', 'recordTypeController']);

    </script>

}