
@{
    ViewBag.Title = "RecordTypeCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="app" ng-controller="recordTypeCategoriesCtrl">

    <h2>Record Categories</h2>
    <hr />

    <div class="row">
        <div class="col-sm-6">

            <div style="box-shadow: 5px 5px 2px #888888" class="panel panel-primary">

                <div style="height:50px" class="panel-heading">
                    Category List
                    <button class="pull-right btn-sm btn btn-default" ng-click="showAddModal(row)"><span class="fa fa-plus"></span></button>
                </div>

                <div class="panel-body">
                    <table st-table="recordTypeCategoryListDisplay" st-safe-src="recordTypeCategoryList" class="table table-condensed table-responsive table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in recordTypeCategoryListDisplay">

                                <td><button class="btn btn-xs btn-default" ng-click="showEditModal(row)"><span class="fa fa-edit"></span></button></td>
                                <td>{{row.Category}}</td>
                                <td><button class="btn btn-xs btn-danger" ng-click="showDeleteModal(row)"><span class="fa fa-remove"></span></button></td>


                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>

                                <td class="text-center" st-pagination="" st-items-by-page="8" colspan="3"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>

        </div>

    </div>
    
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalTitle">Modal title</h4>
                </div>
                <div class="modal-body">


                    <form class="margin-bottom-40" role="form">

                        <div class="form-group">
                                                       
                            <label for="CategoryName">Name</label>  
                            <input type="text" ng-model="Category.Category" ng-disabled="disableInput" class="form-control" id="CategoryName" />
                        
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="updateCategory()" data-dismiss="modal" class="btn btn-primary">Save Changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->
    <!-- DELETE MODAL -->
    
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span class="fa fa-question-circle"></span> Confirm</h4>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to remove <span><strong id="CategoryName"></strong></span> from category list?</h5>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-sm btn btn-primary" data-dismiss="modal">No</button>
                    <button type="button" class="btn-sm btn btn-primary" ng-click="deleteCategory()" data-dismiss="modal">  Yes  </button>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




</div>

@section Scripts{

    <script src="~/.bin/bower_components/angular-smart-table/dist/smart-table.min.js"></script>

    <script src="~/Scripts/app/RecordTypeCategoriesController.js"></script>
    
    <script>

        var app = angular.module('app', ['smart-table', 'recordTypeCategoriesController'


        ]);

    </script>


    }